main{
    width: 800px;
  }

 .box-holder1{
    display: flex;
    justify-content: space-around;
    border: 3px solid lightblue;
 }

  .item{
    width: 60px;
    height: 60px;
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .first{
    margin-left: 10px;
  }

  .last{
    margin-right: 10px;
  }

  .box-holder2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border: 3px solid purple;
    background-color: orangered;
}
  
.bottom { 
    width: 60px;
    height: 60px;
    background-color: purple;
    margin-top: 20px;
    margin-bottom: 20px;
}
